# ملفات بايثون المؤقتة
__pycache__/
*.py[cod]

# ملفات نماذج الذكاء الاصطناعي الثقيلة (المستخدم سيحملها بنفسه كما وضحت في README)
*.caffemodel
*.prototxt
*.xml

# بيئات العمل الوهمية (إن كنت تستخدمها)
venv/
env/
.env